.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.product-card {
  margin-top: 20px;
  position: relative;
  width: 100%;
  border: none;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.like-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.like-icon.liked {
  color: red;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.list-product-info {
  text-align: left;
  width: 100%;
}

.product-label {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-new {
  font-size: 14px;
  color: red;
}
