.favorites-container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
}

.favorites-container h2 {
    /* margin-top: 30px; */
    display: flex;
    justify-content: center
}

.item-count {
    text-align: right;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.favorite-item {
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.image-container {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.favorite-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
    background-color: transparent;
    position: absolute;
    top: 340px;
    right: 15px;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 20px;
    color: #b9b9b9;
}

.trash-icon {
    width: 16px;
    height: 19px;
}

.favorites-product-info {
    width: 250px;
}

.size-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.favorites-add-to-cart-button {
    width: 100%;
    background-color: #222222;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
}

.empty-favorites {
    margin-top: 70px;
    text-align: center;
    color: #555;
    font-size: 18px;
    line-height: 1.5;
}

.empty-favorites-message {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.empty-favorites-suggestion {
    margin: 10px 0;
    font-size: 16px;
    color: #777;
}


@media (max-width: 768px) {
    .favorites-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .favorites-container {
        padding: 10px;
        max-width: 100%;
    }

    .favorites-container h2 {
        margin-top: 30px;
    }

    .favorite-item {
        width: 100%;
    }

    .size-select {
        font-size: 14px;
        padding: 10px;
    }

    .favorites-add-to-cart-button {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .favorites-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .favorites-container {
        padding: 10px;
        max-width: 100%;
    }

    .favorite-item {
        width: 100%;
    }

    .size-select {
        font-size: 12px;
        padding: 10px;
    }

    .favorites-add-to-cart-button {
        padding: 8px;
        font-size: 14px;
    }

    .remove-button {
        bottom: 10px;
        right: 10px;
    }
}
