.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 170vh;
    margin: 0 auto;
}
.homepage-slider {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    margin-top: 20px;
    position: relative;
}

.slide img {
    width: 100%;
    max-width: 175vh;
    height: 90vh;
    object-fit: cover; /* 이미지를 컨테이너에 맞추되, 비율을 유지하며 자름 */
    object-position: top; /* 이미지를 컨테이너 상단에 맞춰 위치시킴 */
    display: block;
    margin: 0 auto;
}

.slide-text {
    position: absolute;
    bottom: 30%; /* 이미지의 아래쪽 10%에 위치시킵니다 */
    left: 50%;
    transform: translateX(-50%); /* 텍스트를 중앙 정렬 */
    color: white;
    font-size: 3rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* 텍스트를 중앙 정렬 */
    max-width: 80%; /* 텍스트 박스의 최대 너비를 설정 */
}
